<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>
    <%= tabtitle %>
  </title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Local CSS to override some bootstrap methods -->
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <!-- jQuery library -->
  <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <!-- stories table-row builder script-->
  <script src="/javascripts/stories_row_builder.js"></script>
  <!-- SSE script -->
  <script src="/javascripts/sse.js"></script>
  <!-- pagestate-control script -->
  <script src="/javascripts/pagestate_control.js"></script>
  <!-- jQuery script-->
  <script src="/javascripts/jquery_database.js"></script>
</head>

<body class="bg" id="bg_frame">
  <!-- header -->
  <header id="header_frame">
    <img class="img-responsive" id="header_image" src="/images/header.jpg">
  </header>
  <!-- row containing columns of content -->
  <main class="row"><br>
    <!-- column as left blank-strip -->
    <aside id="left_col" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></aside>
    <!-- column as middle content-strip -->
    <article id="middle_col" class="col-xs-10 col-sm-10 col-md-10 col-lg-10">
      <!-- db list of stories  -->
      <section class="section" id="1">
        <h1>ADMIN PANEL</h1>

        <h2>Operations</h2>
        <div class="panel panel-default">
          <table id="operations" class="table table-bordered" style="background-color: white">
            <thead class="thead-dark">
              <th id="Command" style="width:95%">Command</th>
              <th id="Action" style="width:5%">Action</th>
            </thead>
            <tbody>
              <tr>
                <td>Set new stories to go live automatically</td>
                <td>
                  <input title="autolive" type="checkbox" class="form-check-input show_tip autolive">
                </td>
              </tr>
              <tr>
                <td>Refresh imagery for all stories</td>
                <td>
                  <button title="refresh" type="button" class="btn btn-primary btn-sm show_tip refresh ">
                  </button>
                </td>
              </tr>
              <tr>
                <td>Clear all stories from database</td>
                <td>
                  <button title="clear" type="button" class="btn btn-danger btn-sm show_tip clear ">
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>

        <h2>Stories</h2>
        <div class="panel panel-default">
          <table id="stories" class="table table-bordered" style="background-color: white">
            <thead class="thead-dark">
              <th id="_id" style="display:none;">_id</th>
              <th id="#" style="width:5%">#</th>
              <th id="Title" style="width:10%">Title</th>
              <th id="Story" style="width:75%">Story</th>
              <th id="Remove" style="width:5%">Delete</th>
              <th id="Live" style="width:5%">Live</th>
            </thead>
            <tbody>
              <% stories.forEach((entry,index) => { %>
              <tr>
                <td class="_id" style="display:none;">
                  <%= entry._id %>
                </td>
                <td class="#">
                  <%= index+1 %>
                </td>
                <td class="Title">
                  <%= entry.title %>
                </td>
                <td class="Story">
                  <%= entry.story %>
                </td>
                <td class="Remove">
                  <button title="remove" type="button" class="btn btn-danger remove show_tip btn-sm">
                  </button>
                </td>
                <td class="Live">
                  <input <%=entry.storylive ? "checked" : "" %> title="live" type="checkbox" class="form-check-input storylive" >
                </td>
              </tr>
              <% }) %>
            </tbody>
          </table>
        </div>

      </section>
    </article>
    <!-- column as right blank-strip -->
    <aside id="right_col" class="col-xs-1 col-sm-1 col-md-1 col-lg-1"></aside>
  </main>
</body>

</html>
